* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

address {
  font-style: normal;
}

/* Fonts */
/*  Media */
/* Transition */
@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../../fonts/Roboto-Bold.woff2") format("woff2"), url("./../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("./../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), local("Roboto-Light"), url("../../fonts/Roboto-Light.woff2") format("woff2"), url("./../fons/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../../fonts/Roboto-Thin.woff2") format("woff2"), url("./../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
.body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
  font-weight: 400;
  color: #2F2F51;
  line-height: 1.5;
}

.body--modal-opened {
  overflow: hidden;
}

.body--modaltwo-opened {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
  height: 100%;
}
.container--sm {
  max-width: 1077px;
}

.none {
  display: none !important;
}

.title-2 {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  color: #2F2F51;
  font-weight: 700;
}
@media screen and (max-width: 1100px) {
  .title-2 {
    font-size: 28px;
  }
}

.no-scroll {
  overflow-y: hidden;
}

.measuring-btn {
  background-color: #ef7f04;
  font-weight: 700;
  font-size: 13px;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 13px;
  margin-right: 14px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.measuring-btn:hover {
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.85;
}
.measuring-btn img {
  margin-right: 10px;
}

.calculation-btn {
  background: #3B3A63;
  font-weight: 700;
  font-size: 13px;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 13px;
  margin-right: 14px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.calculation-btn:hover {
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.85;
}
.calculation-btn img {
  margin-right: 10px;
}

.header__top {
  padding: 17px 0;
}

.header__top-inner--mobile {
  position: fixed;
  background-color: #FFFFFF;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  padding: 40px 0 40px;
}
.header__top-inner--mobile .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
}
.header__top-inner--mobile .nav__item {
  margin-right: 0;
}
.header__top-inner--mobile .header__nav-btn {
  position: fixed;
  top: 35px;
  right: 15px;
}
.header__top-inner--mobile .header__buttons {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.header__top-inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 550px) {
  .header__top-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1100px) {
  .nav__list {
    display: none;
  }
}

.nav__item {
  margin-right: 21px;
}
.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  color: #000000;
  border-top: transparent solid 4px;
  padding-top: 37px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.nav__link:hover {
  color: #ef7f04;
  padding-top: 37px;
  border-top: #ef7f04 solid 4px;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 550px) {
  .header__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 1100px) {
  .header__nav-btn {
    display: block;
  }
}
@media screen and (max-width: 550px) {
  .header__nav-btn {
    position: fixed;
    top: 35px;
    right: 15px;
  }
}

.burger-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #000000;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.burger-icon::before,
.burger-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: tranaform var(--time) ease-in, top var(--time) linear var(--time);
  transition: tranaform var(--time) ease-in, top var(--time) linear var(--time);
}

.burger-icon::before {
  top: calc(var(--line-height) * -8);
}

.burger-icon::after {
  top: calc(var(--line-height) * 8);
}

.burger-icon.burger-icon--active {
  background-color: transparent;
}

.burger-icon.burger-icon--active::before,
.burger-icon.burger-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.burger-icon.burger-icon--active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-icon.burger-icon--active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.quarantee {
  min-height: 562px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(51, 51, 73, 0.96))), url("./../img/main/02.jpeg") 100% no-repeat, url("./../img/main/01.jpeg") no-repeat;
  background: linear-gradient(180deg, rgba(51, 51, 73, 0.96) 50%), url("./../img/main/02.jpeg") 100% no-repeat, url("./../img/main/01.jpeg") no-repeat;
}

.quarantee__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 52px;
}
.quarantee__inner-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 129px 0 131px;
}

.quarantee__slogan {
  font-weight: 700;
  font-size: 24px;
  color: #ef7f04;
  margin-bottom: 18px;
}
.quarantee__slogan-size-big {
  font-weight: 100;
  font-size: 36px;
  color: #FFFFFF;
}
.quarantee__slogan-pos {
  display: block;
}

.guarantee__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2%;
}
.guarantee__item {
  width: 32%;
}
.guarantee__icon {
  height: 83px;
  margin-bottom: 21px;
}
.guarantee__icon-left {
  margin-left: -14px;
}
.guarantee__text {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  padding-right: 10%;
}

.quarantee__feedback {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 69px 0 65px;
}
.quarantee__feedback-inner {
  background-color: #FFFFFF;
  padding: 43px 40px 57px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1019607843);
}

.quarantee__title {
  font-weight: 700;
  font-size: 18px;
  color: #2F2F51;
  margin-bottom: 27px;
  text-align: center;
}

.quarantee__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.quarantee__form-input {
  font-weight: 400;
  font-size: 14;
  color: #424268;
  width: 322.5px;
  height: 40px;
  background: #E2E2E2;
  padding-left: 16px;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.checkbox__mark {
  opacity: 0;
}
.checkbox__label {
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  text-align: left;
  position: relative;
  padding-left: 10px;
  line-height: 1.2;
}
.checkbox__label::after, .checkbox__label::before {
  position: absolute;
  display: inline-block;
}
.checkbox__label::before {
  content: "";
  height: 25px;
  width: 25px;
  background-color: #E2E2E2;
  border-radius: 3px;
  top: 2px;
  left: -24px;
}
.checkbox__label::after {
  content: url("./../img/main/check.svg");
  left: -20px;
  top: 0;
}
.checkbox__link {
  color: #4B67AF;
}
.checkbox__link:hover {
  opacity: 0.6;
}

.checkbox .checkbox__mark + .checkbox__label::after {
  content: none;
}

.checkbox .checkbox__mark:checked + .checkbox__label::after {
  content: url("./../img/main/check.svg");
}

.quarantee__button {
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  width: 199px;
  height: 54px;
  background: #ef7f04;
  margin: 0 auto;
  margin-top: 12px;
  border-radius: 3px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.quarantee__button:hover {
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.85;
}

.quarantee__form-img {
  position: absolute;
  bottom: 10px;
  left: -85px;
  max-width: none;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.2823529412);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.body--modal-opened .modal {
  opacity: 1;
  visibility: visible;
}

.body--modal-opened .modal__window {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.modal__window {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #EF7F1A;
  padding: 55px 100px 70px 100px;
  border-radius: 10px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
  -webkit-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
}

.modal__cancel {
  position: absolute;
  top: 25px;
  right: 19px;
}
.modal__cancel path {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.modal__cancel:hover path {
  stroke: #424268;
}

.modal__title-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.modal__img {
  width: 30px;
  height: 30px;
  margin-right: 26px;
}

.modal__title {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 1.25;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__form-input {
  height: 52px;
  color: #424268;
  display: block;
  border-radius: 3px;
  padding-left: 16px;
  font-size: 19px;
}

.modal__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-size: 14px;
}

.modal__checkbox-input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.modal__checkbox-input:checked + .custom__checkbox::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.custom__checkbox {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.2823529412);
  vertical-align: sub;
  margin-right: 12.5px;
}
.custom__checkbox::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 14px;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  background-image: url("./../img/header/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.modal__checkbox-link {
  color: #2F2F51;
  margin-left: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.modal__checkbox-link:hover {
  opacity: 0.6;
}

.modal__button {
  font-weight: 700;
  font-size: 19px;
  color: #ef7f04;
  margin: 0 auto;
  margin-top: 21px;
  width: 258px;
  height: 52px;
  border-radius: 3px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.modal__button:hover {
  color: #f4cdab;
}

.modaltwo {
  position: fixed;
  inset: 0;
  z-index: 10;
  -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2823529412);
          box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2823529412);
  background: rgba(0, 0, 0, 0.2823529412);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.body--modaltwo-opened .modaltwo {
  opacity: 1;
  visibility: visible;
}

.body--modaltwo-opened .modaltwo__window {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.modaltwo__window {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #2F2F51;
  padding: 55px 100px 70px 100px;
  border-radius: 10px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
  -webkit-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
}

.modaltwo__cancel {
  position: absolute;
  top: 25px;
  right: 19px;
}
.modaltwo__cancel path {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.modaltwo__cancel:hover path {
  stroke: #EF7F1A;
}

.modaltwo__title-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.modaltwo__img {
  width: 30px;
  height: 30px;
  margin-right: 26px;
}

.modaltwo__title {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 1.25;
}

.modaltwo__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modaltwo__form-input {
  height: 52px;
  color: #424268;
  display: block;
  border-radius: 3px;
  padding-left: 16px;
  font-size: 19px;
}

.modaltwo__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-size: 14px;
}

.modaltwo__checkbox-input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.modaltwo__checkbox-input:checked + .custom__checkbox-2::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.custom__checkbox-2 {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.2823529412);
  vertical-align: sub;
  margin-right: 12.5px;
}
.custom__checkbox-2::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 14px;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  background-image: url("./../img/header/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.modaltwo__checkbox-link {
  color: #EF7F1A;
  margin-left: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.modaltwo__checkbox-link:hover {
  opacity: 0.6;
}

.modaltwo__button {
  font-weight: 700;
  font-size: 19px;
  color: #2F2F51;
  margin: 0 auto;
  margin-top: 21px;
  width: 258px;
  height: 52px;
  border-radius: 3px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.modaltwo__button:hover {
  color: rgba(0, 0, 0, 0.2823529412);
}