// .burger-icon {
//   display: none;
//   width: 50px;
//   height: 50px;
//   align-items: center;
//   justify-content: center;

//   @media (max-width:$max-width-xl) {
//     display: flex;
//     z-index: 11;
//   }
// }

// .burger-icon span {
//   position: relative;
// }

// .burger-icon span,
// .burger-icon span::before,
// .burger-icon span::after {
//   display: block;
//   width: 30px;
//   height: 3px;
//   border-radius: 100px;
//   background: $accent;
// }

//   .burger-icon span::before,
//   .burger-icon span::after {
//     content: '';
//     position: absolute;
//   }

//   .burger-icon span::before {
//     top: -8px;
//   }

//   .burger-icon span::after {
//     bottom: -8px;
//   }

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.burger-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;   
  --line-height: 1px;
  --line-margin: 2;
  --color: #000000;
  --animation-duration: 0.5s; 

  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideDown var(--animation-duration) ease-out; 
}

.burger-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.burger-icon::before,
.burger-icon::after {
  content: '';
  display: block;

  position: absolute;
  left: 0;

  width: var(--width);
  height: var(--line-height);

  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.burger-icon::before {
  top: calc(var(--line-height) * -8);
}

.burger-icon::after {
  top: calc(var(--line-height) * 8);
}

.burger-icon.burger-icon--active {
  background-color: transparent;
}

.burger-icon.burger-icon--active::before,
.burger-icon.burger-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.burger-icon.burger-icon--active::before {
  transform: rotate(45deg);
}

.burger-icon.burger-icon--active::after {
  transform: rotate(-45deg);
}
