.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__nav {
    display: flex;
    margin: 0 auto;
    margin-bottom: 25px;

    &-item {
      margin-right: 35px;
      @include fontSetContent(400, 18px, $accent);

      &:last-of-type {
        margin-right: 0;
      }
    }

    &-link {
      display: block; 
      padding: 10px 26px;
      border-radius: 3px;

      &.active {
        background-color: $orange;
        color: $white;
        transition: background-color 0.5s ease, color 0.5s ease; 
      }
    }
  }

  &__content {
    width: 100%;

    &-item {
      max-height: 0;
      overflow: hidden; 
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.9s ease, max-height 0.9s ease, visibility 0.9s ease;

      &.active {
        max-height: 500px; 
        visibility: visible; 
        opacity: 1;
      }
    }
  }
}
