.certificat {

&__container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background: $white;
  border-radius: 3px;
}

  &__swiper-container {
    display: flex;
    overflow: hidden;
    background: $white;
    width: 1000px;
    height: 461px;
    padding: 94px 0;
    margin: 0 100px;
    box-sizing: border-box;
    z-index: 1;
  }


  &__img {
    width: 100%;
    height: auto;
  }


  &__button-next {
    right: 30px;
  }

  &__button-prev {
    left: 30px;
  }

  &__button-prev,
  &__button-next {
    position: absolute;
    color: $dark;
    transition: $transition;

    &:hover {
      color: $modal;
    }
  }
}