.contacts {
  padding: 43px 0 40.55px;

  &__title {
    margin-bottom: 59px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    padding: 0 43px 0 53px;


  }

  &__block-inner {
    position: relative;
  }

  &__block-label {
    @include fontSetContent(700, 18px, $accent);
    margin-bottom: 18px;
  }

  &__list-number {
    @include fontSetContent(700, 22px, $dark);
    margin-left: -5px;
    margin-bottom: 45px;
    display: flex;
    gap: 40px;
  }

  &__list {
    margin-bottom: 13px;

  }

  &__list-icon {
    margin-right: 25px;
  }

  &__list-address {
    @include fontSetContent(400, 18px, $dark);
  }

  &__list-email {
    @include fontSetContent(400, 18px, $dark);
  }

  &__block-slogan-text {
    margin-top: 58px;
  }

  &__socials-list {
    display: flex;
    margin-top: 25px;
    gap: 12px;

  }

  &__socials-link {
    & path {
      transition: $transition;
    }

    &:hover path {
      stroke: $accent;
    }
  }

  &__block-img {
    position: absolute;
    right: -131px;
    bottom: -40.55px;
  }

  &__form {
    padding: 55px 57px 50px 59px;
    background: $white;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
  }

  &__form-inner {
    display: flex;
    flex-direction: column;

  }

  &__form-title {
    @include fontSetContent(700, 24px, $accent);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__form-input {
    height: 52.45px;
    background: $input;
    padding-left: 17px;
    border-radius: 3px;
    margin-bottom: 21px;

    &::placeholder {
      color: $placeholder;
    }
  }

  &__form-textarea {
    resize: none;
    border: none;
    background: $input;
    border-radius: 3px;
    height: 134px;
    padding: 17px 0 0 17px;
    margin-bottom: 14px;

    &::placeholder {
      color: $placeholder;
    }
  }

  &__checkbox-label {
    display: flex;
    font-size: 14px;
    text-align: center;
    align-items: center;
  }

  &__checkbox-input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;

    &:checked+.contacts__custom-checkbox::before {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__custom-checkbox {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: $input;
    border: 2px solid $muted;
    vertical-align: sub;
    margin-right: 12.5px;

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 50%;
      width: 13px;
      height: 14px;
      transform: translate(-50%, -50%) scale(0);

      background-image: url("./../img/header/check.svg");
      background-size: contain;
      background-repeat: no-repeat;
      transition: $transition;
    }
  }

  &__checkbox-link {
    @include fontSetContent(700, 14px, $modal);
    transition: $transition;

    &:hover {
      opacity: 0.6;
    }
  }

  &__form-btn {
    @include fontSetContent(700, 16px, $white);
    width: 258px;
    margin: 0 auto;
    padding: 17px 43.5px;
    margin-top: 32px;
    background: $accent;
    border-radius: 3px;
    transition: $transition;

    &:hover {
      @include Hover;
    }
  }
}