.contacts {
  padding: 43px 0 40.55px;

  @media (max-width:$max-width-m) {
    padding: 10px 0 30px;
  }

  &__title {
    margin-bottom: 59px;

    @media (max-width:$max-width-m) {
      margin-bottom: 30px;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    padding: 0 43px 0 53px;

    @media (max-width:1230px) {
      flex-direction: column;
      padding: 0;
      gap: 50px;
      align-items: center;
    }
  }

  &__block-inner {
    position: relative;

    @media (max-width:480px) {
      padding-left: 20px;
    }
  }

  &__block-label {
    @include fontSetContent(700, 18px, $accent);
    margin-bottom: 18px;
  }

  &__list-number {
    @include fontSetContent(700, 22px, $dark);
    margin-left: -5px;
    margin-bottom: 45px;
    display: flex;
    gap: 40px;

    @media (max-width:630px) {
      font-size: 18px;
    }

    @media (max-width:500px) {
      flex-direction: column;
      margin-bottom: 20px;
      font-size: 18px;
      gap: 10px;
    }
  }

  &__list {
    margin-bottom: 13px;
  }

  &__list-icon {
    margin-right: 25px;

    @media (max-width:502px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__list-address {
    @include fontSetContent(400, 18px, $dark);
  }

  &__list-email {
    @include fontSetContent(400, 18px, $dark);
  }

  &__block-slogan-text {
    margin-top: 58px;
  }

  &__socials-list {
    display: flex;
    margin-top: 25px;
    gap: 12px;

  }

  &__socials-link {
    & path {
      transition: $transition;
    }

    &:hover path {
      stroke: $accent;
    }
  }

  &__block-img {
    position: absolute;
    right: -131px;
    bottom: -40.55px;

    @media (max-width:1230px) {
      left: 230px;
      bottom: 10px;
    }

    @media (max-width:630px) {
      display: none;
    }
  }

  &__form {
    max-width: 492px;
    padding: 55px 57px 50px 59px;
    background: $white;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);

    @media (max-width:450px) {
      padding: 30px;
    }
  }

  &__form-inner {
    display: flex;
    flex-direction: column;

  }

  &__form-title {
    @include fontSetContent(700, 24px, $accent);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__form-input {
    height: 52.45px;
    background: $input;
    padding-left: 17px;
    border-radius: 3px;
    margin-bottom: 21px;

    &::placeholder {
      color: $placeholder;
    }
  }

  &__form-textarea {
    @include modalTextarea;
  }

  &__checkbox-label {
    @include checkboxLabel;
  }

  &__checkbox-input {
    @include checkboxInput;

    &:checked+.contacts__custom-checkbox::before {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__custom-checkbox {
    @include customChekbox;
    background: $input
  }

  &__form-txt {
    text-wrap: nowrap;
    align-items: center;
    text-align: start;
    margin-left: 9.5px;
    line-height: 1.2;

    @media (max-width:500px) {
      text-wrap: wrap;
    }
  }

  &__checkbox-link {
    @include fontSetContent(700, 14px, $modal);
    transition: $transition;

    &:hover {
      opacity: 0.6;
    }
  }

  &__form-btn {
    @include fontSetContent(700, 16px, $white);
    max-width: 258px;
    margin: 0 auto;
    padding: 17px 43.5px;
    margin-top: 32px;
    background: $accent;
    border-radius: 3px;
    transition: $transition;

    &:hover {
      @include Hover;
    }
  }
}