.footer {
  background-color: $accent;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 52px 0 45px 0;
  @include fontSetContent(400, 16px, $white);

  &__left {
    display: flex;
    align-items: center;
  }
  

  &__logo {
    margin-right: 22px;
    padding-bottom: 10px;
  }

  &__links-item {
    margin-left: 25px;
    @include fontSetContent(400, 14px, $white);
    line-height: 36px;
    text-decoration: underline transparent;
    transition: $transition;

    &:hover {
      text-decoration: underline;
      transition: $transition;
    }
  }
}