.header__top {
  padding: 17px 0;
}

.header__top-inner--mobile {
  position: fixed;
  background-color: $white;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 100px 0 100px;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;

  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .nav__item {
    margin-right: 0;
  }

  .nav__link {
    border-top: transparent solid 1px;
    padding-top: 0px;

    &:hover {
      border-top: transparent solid 1px;
      padding-top: 0px;
    }
  }

  .header__nav-btn {
    position: fixed;
    top: 35px;
    right: 15px;
  }

  .header__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.header__top-inner {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transform: translateY(0);


  @media (max-width: $max-width-m) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.nav__list {
  display: flex;

  @media (max-width: $max-width-xl) {
    display: none;
  }
}

.nav__item {
  margin-right: 21px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  color: $dark;
  border-top: transparent solid 4px;
  padding-top: 37px;
  transition: $transition;

  &:hover {
    color: $orange;
    padding-top: 37px;
    border-top: $orange solid 4px;
  }
}

.header__buttons {
  display: flex;

  @media (max-width: $max-width-m) {
    display: none;
  }
}

.header__nav-btn {
  display: none;

  @media (max-width: $max-width-l) {
    display: block;
  }

  @media (max-width: $max-width-m) {
    position: fixed;
    top: 35px;
    right: 15px;
  }
}