.map {
  &__modal {
    @include modalCenter;
  }

  &__modal-content {
    display: inline-block;
    position: relative;
    background: $white;
    overflow: hidden;
    transition: all .8s;
    border-radius: 5px;
    opacity: 0;
    transform: translate(0px, -100%);
  }

  &__modal-cancel {
    position: absolute;
    top: 25px;
    right: 19px;
    z-index: 30;

    & path {
      transition: $transition;
    }

    &:hover path {
      stroke: $modal;
    }
  }

  &__modal-head {
    position: relative;
    display: flex;
    padding: 49px 95px 0 88px;

    @media (max-width:1000px) {
      flex-direction: column;
      padding: 30px 40px 0 30px;
    }
  }

  &__swiper-container {
    width: 359px;
    height: 229px;
    overflow: hidden;

    @media (max-width:500px) {
      width: 320px;
      padding: 0 0 0 50px;
      height: 170px;
    }
    @media (max-width:400px) {
      width: 250px;
      padding: 0 0 0 30px;
      height: 140px;
    }
  }

  &__inner-img {
    margin-right: 61px;

    @media (max-width:1000px) {
      margin-bottom: 40px;
    }
  }

  &__swiper-pagination {
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 23%;
    gap: 12px;
    z-index: 50;

    @media (max-width:1000px) {
      top: 275px;
      left: 35%;
    }

    @media (max-width:500px) {
      top: 225px;
      left: 35%;
    }

    @media (max-width:400px) {
      top: 190px;
      left: 35%;
    }
  }

  &__swiper-pagination-bullet {
    box-sizing: border-box;
    border: 1px solid rgb(148, 148, 168);
    background: rgb(255, 255, 255);
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }

  &__swiper-pagination-bullet-active {
    background: $modal;
  }

&__inner-title {
  @media (max-width:480px) {
    text-align: center;
  }
}

  &__data {
    @include fontSetContent(400, 14px, $data-color);
    display: flex;
    align-items: center;
  }

  &__location-img {
    margin-left: 30px;
  }

  &__address {
    @include fontSetContent(700, 16px, $dark);
    margin-left: 6px;

    @media (max-width:480px) {
      font-size: 12px;
      line-height: 1.2;
    }
  }

  &__title {
    @include fontSetContent(700, 24px, $accent);
    margin-top: 15px;

    @media (max-width:480px) {
    font-size: 18px;
    }
  }

  &__text {
    @include fontSetContent(700, 16px, $dark);
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__txt {
    font-weight: 400;
  }

  &__buttons {
    display: flex;
    gap: 14px;
    margin: 28px 0 29px;

    @media (max-width:480px) {
      flex-direction: column;
    }
  }

  &__measuring-btn {
    @include fontSetContent(700, 13px, $white);
    display: flex;
    align-items: center;
    padding: 10px 19px 14px;
    background: $orange;
    border-radius: 3px;
  }

  &__img-btn {
    margin-right: 10px;
  }

  &__price-btn {
    @include fontSetContent(700, 13px, $white);
    display: flex;
    align-items: center;
    background: $purple;
    padding: 11px 17px 12px;
    border-radius: 3px;
  }

  &__measuring-btn,
  &__price-btn {
    transition: $transition;

    @media (max-width:480px) {
      display: flex;
      justify-content: center;
      width: 280px;
      height: 43px;
      margin: 0 auto;
    }

    &:hover {
      @include Hover;
    }
  }

}

.map-2 {
  width: 100%;
  height: 311px;

  @media (max-width:1000px) {
    display: none;
  }
}

.body--map-opened .map__modal {
  @include bodyOpened;
}

.body--map-opened .map__modal-content {
  @include bodyContent;
}