.windows__modal {
  @include modalCenter;
}

.body--modal-opened .modal {
  @include bodyOpened;
  z-index: 300;
}

.body--modal-opened .modal__window {
  @include bodyContent;
}

.modal__window {
  background: $modal;
  @include modalWindow;
}

.modal__cancel {
  @include modalCancel;

  &:hover path {
    stroke: $placeholder;
  }
}

.title__img {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  @media (max-width: $max-width-m) {
    margin-bottom: 10px;
  }
}

.modal__img {
  width: 30px;
  height: 30px;
  margin-right: 26px;

  @media (max-width: $max-width-m) {
    margin-right: 10px;
  }
}

.title__modal {
  @include fontSetContent(700, 24px, $white);
  line-height: 1.25;

  @media (max-width: $max-width-m) {
    @include fontSetContent(700, 16px, $white);
    line-height: 1.2;
  }
}

.form__modal {
  display: flex;
  gap: 21px;
  flex-direction: column;
}

.form__input {
  height: 52px;
  display: block;
  border-radius: 3px;
  padding-left: 16px;
  font-size: 19px;

  @media (max-width: $max-width-m) {
    height: 45px;
    font-size: 16px;
  }

  &::placeholder {
    color: $placeholder;
  }
}

.modal__checkbox-label {
  @include checkboxLabel;
}

.modal__checkbox-input {
  @include checkboxInput;
  &:checked+.custom__checkbox::before {
    transform: translate(-50%, -50%) scale(1);
  }
}

.custom__checkbox {
  @include customChekbox;
}

.form__modal-txt {
  @include modalTxt;
}

.modal__checkbox-link {
  color: $accent;
  @include checkboxLink;
}

.modal__button {
  @include fontSetContent(700, 19px, $orange);
  @include modalButton;
  &:hover {
    color: $button-muted;
  }
}