.body--modaltwo-opened .modaltwo {
  @include bodyOpened;
  z-index: 100;
}

.body--modaltwo-opened .modaltwo__window {
  @include bodyContent;
}

.modaltwo__window {
  background: $accent;
  @include modalWindow;
}

.modaltwo__cancel {
  @include modalCancel;

  &:hover path {
    stroke: $modal;
  }
}

.modaltwo__checkbox-label {
  @include checkboxLabel;
}

.modaltwo__checkbox-input {
  @include checkboxInput;

  &:checked+.custom__checkbox-2::before {
    transform: translate(-50%, -50%) scale(1);
  }
}

.custom__checkbox-2 {
  @include customChekbox;
}

.form__modaltwo-txt {
  @include modalTxt;
}

.modaltwo__checkbox-link {
  color: $modal;
  @include checkboxLink;
}

.modaltwo__button {
  @include fontSetContent(700, 19px, $accent);
  @include modalButton;

  &:hover {
    color: $muted;
  }
}