.windows__modal {
  position: fixed;
  inset: 0;
  z-index: 15;
  background: $muted;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transition: $transition;
}

.body--modal-opened .modal {
  opacity: 1;
  visibility: visible;
}

.body--modal-opened .modal__window {
    transform: translate(0px, 0px);
    opacity: 1;
  }

.modal__window {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $modal;
  padding: 55px 100px 70px 100px;
  border-radius: 10px;
  transition: all .8s;
  opacity: 0;
  transform: translate(0px, -100%);
}

.modal__cancel {
  position: absolute;
  top: 25px;
  right: 19px;

  & path {
    transition: $transition;
  }

  &:hover path {
    stroke: $placeholder;
  }
}

.title__img {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal__img {
  width: 30px;
  height: 30px;
  margin-right: 26px;
}

.title__modal {
  @include fontSetContent(700, 24px, $white);
  line-height: 1.25;
}

.form__modal {
  display: flex;
  gap: 21px;
  flex-direction: column;
}

.form__input {
  height: 52px;
  color: $placeholder;
  display: block;
  border-radius: 3px;
  padding-left: 16px;
  font-size: 19px;
}

.modal__checkbox-label {
  display: flex;
  text-align: center;
  align-items: center;
  color: $white;
  font-size: 14px;
}

.modal__checkbox-input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;

  &:checked+.custom__checkbox::before {
    transform: translate(-50%, -50%) scale(1);
  }
}

.custom__checkbox {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: $white;
  border: 2px solid $muted;
  vertical-align: sub;
  margin-right: 12.5px;

  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    width: 13px;
    height: 14px;
    transform: translate(-50%, -50%) scale(0);

    background-image: url("./../img/header/check.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: $transition;
  }
}

.modal__checkbox-link {
  color: $accent;
  margin-left: 5px;
  transition: $transition;

  &:hover {
    opacity: 0.6;
  }
}

.modal__button {
  @include fontSetContent(700, 19px, $orange);
  margin: 0 auto;
  margin-top: 21px;
  width: 258px;
  height: 52px;
  border-radius: 3px;
  transition: $transition;

  &:hover {
    color: $button-muted;
  }
}