.modal__services {
  @include modalCenter;
}

.window {
  &__swiper-container {
    @include swiperContainer;
  }

  &__swiper-pagination {
    @include swiperPagination;
  }

  &__swiper-pagination-bullet {
    @include swiperBullet;
  }

  &__swiper-pagination-bullet-active {
    background: $orange;
  }
}

.window__modal-content {
  @include modalContent;
  background: linear-gradient(156.56deg,
      rgb(255, 255, 255) 47.215%,
      rgba(255, 255, 255, 0) 210.306%,
      rgb(255, 255, 255) 300.569%),
    url("./../img/modal/window.jpeg") 100% 100% no-repeat;
}

.modal__services-cancel {
  position: absolute;
  top: 25px;
  right: 19px;

  & path {
    stroke: $dark;
    transition: $transition;
  }

  &:hover path {
    stroke: $modal;
  }

  @media(max-width: $max-width-m) {
    top: 15px;
    right: 15px;
    width: 18px;
    height: 18px;
  }
}

.body--window-opened .window__modal {
  @include bodyOpened;
}

.body--window-opened .window__modal-content {
  @include bodyContent;
}

.modal__top {
  display: flex;
  gap: 92px;

  @media(max-width: $max-width-xl) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.modal__services-img {
  margin-bottom: 36px;

  @media(max-width: $max-width-l) {
    margin-bottom: 0;
  }
}

.img__modal {
  border-radius: 5px;
  overflow: hidden;
}

.modal__inner {
  margin-top: 10px;
}

.modal__services-title {
  @include fontSetContent(700, 24px, $accent);
  margin-bottom: 23px;
}

.modal__text {
  color: $dark;
  line-height: 1.1;
  margin-bottom: 22px;
}

.buttons {
  display: flex;

  @media(max-width: $max-width-xl) {
    margin-top: 60px;
  }

  @media(max-width: $max-width-m) {
    flex-direction: column;
    gap: 10px;
  }

}

.modal__main {
  display: flex;
  gap: 34px;

  @media(max-width: $max-width-xl) {
    display: none;
  }
}

.modal__item {
  display: flex;
  align-items: center;
  margin-bottom: 42px;
  min-width: 362px;

  &:last-child {
    margin-bottom: 0;
  }
}

.main__title {
  @include fontSetContent(700, 14px, $accent);
  margin-left: 34px;
}

.text__left {
  margin-left: 18px;
}

.text__modal {
  @include fontSetContent(400, 13px, $dark);
}