.portfolio {
  &__container {
    background: $white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    max-width: 1200px;
  }

  &__title {
    margin: 47px 0 49px;

    @media (max-width:$max-width-m) {
      margin: 30px 0 30px;
    }
  }

  &__swiper-container {
    position: relative;
    overflow: hidden;
    max-width: 1000px;
    height: 461px;
    background: $white;
    margin: 0 auto;

    @media (max-width:$max-width-xl) {
      max-width: 668px;
    }

    @media (max-width:800px) {
      max-width: 568px;
    }

    @media (max-width:790px) {
      max-width: 468px;
    }

    @media (max-width:$max-width-m) {
      max-width: 320px;
      padding: 0 40px;
    }
  }

  &__card {
    display: block;
    overflow: hidden;
    width: 215px;
  }

  &__img {
    transition: $transition;

    &:hover {
      @include Hover;
    }
  }

  &__button-prev {
    left: 40px;

    @media (max-width:1200px) {
      left: 30px;
    }

    @media (max-width:$max-width-m) {
      left: 10px;
    }
  }

  &__button-next {
    right: 40px;

    @media (max-width:1200px) {
      right: 30px;
    }

    @media (max-width:$max-width-m) {
      right: 10px;
    }
  }

  &__button-prev,
  &__button-next {
    position: absolute;
    color: $dark;
    transition: $transition;

    &:hover {
      color: $modal;
    }
  }
}