.container {
  position: relative;
}

.product {
  padding: 50px 0 54px;
  align-items: center;

  &__title {
    margin-bottom: 100px;
  }

  &__swiper-container {
    overflow: hidden;
    margin: 0 auto;
    align-items: center;
    max-width: 1145px;
    height: 461px;
    border-radius: 5px;
    background: $white;
  }

  &__main {
    display: flex;
  }

  &__slider-title {
    margin-top: 74px;
    margin-left: 35px;
  }

  &__head-title {
    @include fontSetContent(700, 36px, $orange);
    margin-bottom: 40px;
  }

  &__text {
    @include fontSetContent(400, 18px, $dark);
    line-height: 1.2;
    margin-bottom: 38px;
  }

  &__list {
    @include fontSetContent(300, 18px, $dark);
    margin-bottom: 52px;
    line-height: 1.2;
  }

  &__item {
    margin-bottom: 15px;

    & span {
      font-weight: 700;
    }
  }

  &__button-prev {
    left: -20px;
  }

  &__button-next {
    right: -20px;
  }

  &__button-prev,
  &__button-next {
    position: absolute;
    transform: translateY(5rem);
    color: $dark;
    transition: $transition;

    &:hover {
      color: $modal;
    }

    &.swiper-button-disabled {
      opacity: 1;
      color: $nav-arrow;
    }
  }
}