.quarantee {
  min-height: 562px;
  background:
    linear-gradient(180deg,
      rgba(51, 51, 73, 0.96) 50%,
    ),
    url("./../img/main/02.jpeg") 100% no-repeat,
    url("./../img/main/01.jpeg") no-repeat;

  @media screen and (max-width: $max-width-xxl),
  (max-width: $max-width-l) {
    min-height: auto;
    background: linear-gradient(180deg,
        rgba(51, 51, 73, 0.96) 50%),
      url("./../img/main/01.jpeg") center/cover no-repeat;
  }
}

.quarantee__inner {
  display: flex;
  gap: 52px;

  @media (max-width: $max-width-xl) {
    display: flex;
    flex-direction: column;
    gap: 0;

  }

  @media (max-width: $max-width-l) {
    flex-direction: column;
    gap: 20px;
  }

  &-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 129px 0 131px;

    @media (max-width: $max-width-xl) {
      padding: 129px 0 0;
    }

    @media (max-width: $max-width-l) {
      display: block;
      flex-direction: column;
    }

    @media (max-width: $max-width-m) {
      padding: 0;
    }
  }
}

.quarantee__slogan {
  @include fontSetContent(700, 24px, $orange);
  margin-bottom: 18px;

  @media (max-width: $max-width-xl) {
    display: block;
    text-align: center;
  }

  @media (max-width: $max-width-m) {
    margin-top: 50px;
  }

  &-size-big {
    @include fontSetContent(100, 36px, $white);

    @media (max-width: $max-width-xl) {
      display: block;
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    @media (max-width: $max-width-m) {
      font-size: 24px;
    }
  }

  &-pos {
    display: block;
  }
}

.guarantee {

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;

    @media (max-width: $max-width-xl) {
      text-align: center;
      gap: 0;
    }

    @media (max-width: $max-width-l) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @media (max-width: $max-width-m) {
      gap: 20px;
      margin-top: 50px;
    }
  }

  &__item {
    width: 32%;

    @media (max-width: $max-width-xl) {
      width: 200px;
    }

    @media (max-width: $max-width-l) {
      margin-top: 15px;
    }
  }

  &__icon {
    height: 83px;
    margin-bottom: 21px;
  }

  &__icon-left {
    margin-left: -14px;
  }


  &__text {
    @include fontSetContent(400, 14px, $white);
    padding-right: 10%;

    @media (max-width: $max-width-xl) {
      display: flex;
      text-align: center;
      line-height: 1;
    }
  }
}

.quarantee__feedback {

  display: flex;
  padding: 69px 0 65px;

  @media (max-width: $max-width-xl),
  (max-width: $max-width-l) {
    display: flex;
    justify-content: center;
  }

  &-inner {
    position: relative;
    max-width: 406px;
    max-height: 428px;
    background-color: $white;
    padding: 43px 40px 57px;
    border-radius: 10px;

    box-shadow: 0px 4px 6px 0px #0000001a;


    @media (max-width: $max-width-xl) {}

    @media (max-width: $max-width-m) {
      padding: 30px 20px;
      max-width: 350px;
      height: auto;
    }
  }
}

.quarantee__title {
  @include fontSetContent(700, 18px, $accent);
  margin-bottom: 27px;
  text-align: center;

  @media (max-width: $max-width-m) {
    @include fontSetContent(700, 16px, $accent);
    max-width: 340px;
  }
}

.quarantee__form {
  display: flex;
  flex-direction: column;

  &-input {
    font-size: 14px;
    border-radius: 3px;
    width: 322.5px;
    height: 40px;
    margin-bottom: 15px;
    background: $input;
    padding-left: 16px;

    @media (max-width: $max-width-m) {
      width: 100%;
    }

    &::placeholder {
      color: $placeholder;
    }
  }
}

.quarantee__button {
  @include fontSetContent(700, 14px, $white);
  width: 199px;
  height: 54px;
  background: $orange;
  margin: 0 auto;
  margin-top: 12px;
  border-radius: 3px;
  transition: $transition;

  @media (max-width: $max-width-m) {
    margin: 0;
    margin-top: 20px;
    width: auto;
  }

  &:hover {
    @include Hover;
  }
}

.quarantee__form-img {
  position: absolute;
  bottom: -55px;
  left: -85px;
  max-width: none;

  @media (max-width: $max-width-m) {
    display: none;
  }
}