.question-answer {
  padding: 40px 0 43px;

  &__title {
    margin-bottom: 50px;
    color: $white;
  }

  &__list {
    padding: 40px 101px 63px;
    background: $modal;
    border-radius: 7px;
  }

  &__item {
    position: relative;
    margin-bottom: 14px;

    .question-answer__question {
      @include fontSetContent(700, 18px, $accent);
      border-radius: 3px;
      padding: 31.5px 0 29.5px 19px;
      background: $white;
      border: none;
      width: 100%;
      text-align: left;
      transition: $transition;

      &:hover {
        color: $orange;
        box-shadow: 4px 4px 4px #0000004d;
      }

      & path {
        transition: $transition;
      }

      &:hover path {
        stroke: $modal;
      }

      &.active {
        background-color: ($white, 20%);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: none;

        svg {
          transform: rotate(180deg);
        }
      }

      svg {
        transition: transform 0.3s ease;
      }
    }

    .question-answer__arrow {
      position: absolute;
      top: 36px;
      right: 30px;
    }

    .question-answer__answer {
      max-height: 0;
      overflow: hidden;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      transition: max-height 0.3s ease;
      background-color: #fff;
      padding: 0 15px;


      .question-answer__text {
        margin: 15px 0;
        color: $dark;
      }
    }
  }
}