.reviews {

  &__swiper-container {
    position: relative;
    max-width: 1200px;
    height: 461px;
    overflow: hidden;
    background: #fff;
    border-radius: 3px;

    @media (max-width:$max-width-xl) {
      height: auto;
    }
  }

  &__otziv {
    display: flex;
    padding: 62px 0 63px;
    gap: 62px;

    @media (max-width:$max-width-l) {
      flex-direction: column;
      padding: 23px 0 83px 0;
      gap: 15px;
    }
  }

  &__otziv-name {
    margin-left: 104px;
    @include fontSetContent(700, 18px, $accent);
  }

  &__otziv-data {
    display: flex;
    @include fontSetContent(400, 14px, $nav-arrow);
    line-height: 1.2;
    align-items: center;
    justify-content: center;

    @media(max-width:850px) {
      flex-direction: none;
      align-items: none;
    }
  }

  &__otziv-btn {
    @include fontSetContent(700, 16px, $white);
    position: absolute;
    top: 50px;
    right: 95px;
    background: $modal;
    border-radius: 3px;
    padding: 17px 28px 18px 20px;
    transition: $transition;

    @media(max-width:850px) {
      top: 90px;
    }

    @media (max-width:$max-width-m) {
      width: 219.16px;
      height: 59px;
      top: 95px;
      right: 50px;
      padding: 12px 20px 13px 15px;
    }

    &:hover {
      @include Hover;
    }
  }

  &__img-btn {
    margin-right: 18px;
  }

  &__slide-txt {
    color: $slide-text;
    display: flex;
    margin: 0 auto;
    text-align: justify;
    align-items: center;
    padding: 0 202px 20px 202px;
    line-height: 1.2;

    @media (max-width:$max-width-xl) {
      padding: 0 180px 30px 180px;
    }

    @media (max-width:$max-width-l) {
      padding: 0 53px 30px 53px;
    }
  }

  &__button-next {
    right: 30px;

    @media (max-width:$max-width-l) {
      right: 10px;
    }
  }

  &__button-prev {
    left: 30px;

    @media (max-width:$max-width-l) {
      left: 10px;
    }
  }

  &__button-prev,
  &__button-next {
    position: absolute;
    color: $dark;
    transition: $transition;

    &:hover {
      color: $modal;
    }
  }
}