.review {
  &__modal {
    @include modalCenter;
  }

  &__modal-window {
    position: relative;
    display: flex;
    flex-direction: column;
    background: $white;
    padding: 55px 100px 62px;
    border-radius: 10px;
    transition: all .8s;
    opacity: 0;
    transform: translate(0px, -100%);

    @media (max-width:480px) {
      padding: 50px 40px;
      width: 100%;
      border-radius: 3px;
    }
  }

  &__modal-cancel {
    position: absolute;
    top: 25px;
    right: 19px;

    & path {
      transition: $transition;
    }

    &:hover path {
      stroke: $modal;
    }
  }

  &__modal-head {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__modal-title {
    @include fontSetContent(700, 24px, $accent);
    margin: 0 auto;

    @media (max-width:$max-width-m) {
      font-size: 18px;
    }
  }

  &__modal-form {
    display: flex;
    flex-direction: column;
    gap: 21px;

  }

  &__modal-input {
    background: $input;
    border-radius: 3px;
    height: 52.5px;
    padding-left: 17px;

    &::placeholder {
      color: $placeholder;
    }
  }

  &__modal-textarea {
    @include modalTextarea;
  }

  &__checkbox-label {
    @include fontSetContent(400, 14px, $color-link);
    display: flex;
    text-align: center;
    align-items: center;
  }

  &__checkbox-input {
  @include checkboxInput;

    &:checked+.review__custom-checkbox::before {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__custom-checkbox {
    @include customChekbox;
    background: $input;
  }

  &__text {
    text-align: start;
    margin-left: 12.5px;
    line-height: 1.2;
  }

  &__checkbox-link {
    transition: $transition;

    &:hover {
      opacity: 0.6;
    }
  }

  &__button {
    @include fontSetContent(700, 16px, $white);
    margin: 0 auto;
    background: $modal;
    margin-top: 11px;
    padding: 16px 64px 16px 71px;
    border-radius: 3px;
    transition: $transition;

    @media (max-width:$max-width-m) {
      line-height: 1.2;
      padding: 16px 40px;
    }

    &:hover {
      @include Hover;
    }
  }
}

.body--review-opened .review__modal {
  @include bodyOpened;
}

.body--review-opened .review__modal-window {
  @include bodyContent;
}