.section__map {
	padding-bottom: 41px;

	@media (max-width:$max-width-m) {
		padding-bottom: 20px;
	}
}

.map {
	height: 311.5px;
	background: $white;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.ymaps-layers-pane {
	filter: grayscale(1);
	-ms-filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}