
.about-company__swiper-container {
  width: 1200px;
  height: 461px;
  overflow: hidden;
}
.about-company__wrapper {
 
}
.swiper-slide {
  // text-align: center;
  // font-size: 18px;
  background: #fff;
}
.about-company__otziv {
}
.about-company__otziv-name {
}
.about-company__otziv-data {
}
.about-company__otziv-btn {
}
.about-company__img-btn {
}
.about-company__slide-txt {
}
.about-company__button-prev {
}
.swiper-button-prev {
}
.about-company__button-next {
}
.swiper-button-next {
}