.about-company {
  padding-top: 46px;

  &__title {
    margin-bottom: 40px;
  }

  &__content {
    display: flex;
    max-width: 1200px;
    height: 461px;
    justify-content: space-between;
    background-color: $white;
    border-radius: 3px;
    gap: 10px;
  }

  &__logo {
    padding: 46px 35px 60px 51px;
    display: flex;
    align-items: flex-end;
  }

  &__img-logo {
    display: flex;
    margin-bottom: 62px;
    align-self: flex-start;
  }

  &__logo-text {
    color: $dark;
    line-height: 1.2;
    text-wrap: nowrap;
  }

  &__video-inner {
    position: relative;
  }

  &__video-img {
    height: 461px;
  }

  &__img-control {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }


  &__img-button {
    & path {
      transition: $transition;
    }

    &:hover path {
      fill: $orange;
    }
  }

}