@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url("../../fonts/Roboto-Bold.woff2") format('woff2'),
        url("./../fonts/Roboto-Bold.woff") format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Regular'), local('Roboto-Regular'),
        url("../../fonts/Roboto-Regular.woff2") format('woff2'),
        url("./../fonts/Roboto-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'),
        url("../../fonts/Roboto-Light.woff2") format('woff2'),
        url("./../fons/Roboto-Light.woff") format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url("../../fonts/Roboto-Thin.woff2") format('woff2'),
        url("./../fonts/Roboto-Thin.woff") format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

.body {
    font-family: $font-accent;
    background-color: $color-bg;
    font-weight: 400;
    color: $accent;
    line-height: 1.5;
}

.body--modal-opened {
    overflow: hidden;
}

.body--modaltwo-opened {
    overflow: hidden;
}

.body--window-opened {
    overflow: hidden;
}

.body--loggia-opened {
    overflow: hidden;
}
.body--house-opened {
    overflow: hidden;
}
.body--corporate-opened {
    overflow: hidden;
}
.body--review-opened {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1230px;
    height: 100%;

    &--sm {
        max-width: 1077px;
    }
}

.none {
    display: none !important;
}

.title-2 {
    @include fontSetContent(700, 24px, $accent);
    text-align: center;

    @include mediaTablet {
        font-size: 28px;
    }
}

.visually-hidden {
    /* Contain text within 1px box */
	height: 1px;
	overflow: hidden;
	width: 1px;

	/* Keep the layout */
	position: absolute;

	/* Remove any visible trace (e.g. background color) */
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%); /* browsers in the future */

	/* Prevent the screen reader to skip spaces between words */
	white-space: nowrap;
}

.no-scroll {
    overflow-y: hidden;
}

.measuring__button {
    background-color: $orange;
    @include headerBtn;
}

.calculation__button {
    background: $purple;
    @include headerBtn;
}