@mixin headerBtn {
  @include fontSetContent(700, 13px, $white);
  border-radius: 3px;
  padding: 13px;
  margin-right: 14px;
  transition: $transition;
  
  &:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.85;
}
  & img {
    margin-right: 10px;
  }
}

@mixin fontSetContent($weight, $size, $color) {
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

@mixin mediaTablet {
  @media screen and (max-width:$tablet) {
    @content;
  }
}
@mixin mediaMobile {
  @media screen and (max-width:$mobile) {
    @content;
  }
}