@mixin headerBtn {
  @include fontSetContent(700, 13px, $white);
  border-radius: 3px;
  padding: 13px;
  margin-right: 14px;
  transition: $transition;

  &:hover {
  @include Hover;
  }

  & img {
    margin-right: 10px;
  }
}

@mixin fontSetContent($weight, $size, $color) {
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

@mixin modalContent {
  position: relative;
  display: inline-block;
  padding: 49px 138px 42px 109px;
  border-radius: 10px;
  gap: 92px;
  transition: all .8s;
  opacity: 0;
  transform: translate(0px, -100%);
}

@mixin bodyOpened {
  opacity: 1;
  visibility: visible;
}

@mixin bodyContent {
  transform: translate(0px, 0px);
  opacity: 1;
}


@mixin mediaTablet {
  @media screen and (max-width:$tablet) {
    @content;
  }
}

@mixin mediaMobile {
  @media screen and (max-width:$mobile) {
    @content;
  }
}

@mixin Hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.85;
}

@mixin checkboxLabel {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 14px;
}

@mixin modalCenter {
  position: fixed;
  inset: 0;
  z-index: 15;
  background: $muted;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transition: $transition;
}

@mixin swiperContainer {
  position: relative;
  width: 307px;
  height: 230px;
  overflow: hidden;
}

@mixin swiperPagination {
  position: absolute;
  display: flex;
  bottom: 20px;
  left: 40%;
  gap: 12px;
  z-index: 50;
}

@mixin swiperBullet {
  border-radius: 50%;
  background: $white;
  width: 8px;
  height: 8px;
}