/* Fonts */
$font-accent: 'Roboto', sans-serif;

// colors
$color-bg: #F2F2F2;
$white: #FFFFFF;
$dark: #000000;
$purple: #3B3A63;
$placeholder: #424268;
$accent: #2F2F51;
$link: #4B67AF;
$orange: #ef7f04;
$modal: #EF7F1A;
$button-muted: #f4cdab;
$muted: #00000048;
$muted-modal: #00000999;
$input: #E2E2E2;
$nav-arrow: #8F8F8F;
$slide-text: #434343;
$color-link: #111E97;

/*  Media */
$tablet: 1100px;
$mobile: 550px;

/* Transition */
$transition: all .4s;
