/* Fonts */ 
$font-accent: 'Roboto', sans-serif;
// colors
$color-bg: #f2f2f2;
$white: #FFFFFF;
$dark:  #000000;
$purple: #3B3A63;
$placeholder: #424268;
$accent: #2F2F51;
$orange: #ef7f04;
$modal: #EF7F1A;
$button-muted: #f4cdab;
$muted: #00000048;

/*  Media */
$tablet: 1100px;
$mobile: 550px;

/* Transition */ 

$transition: all .4s;